@CHARSET "ISO-8859-1";

body {
	font-family: sans-serif;
	text-align: center;
}

div#pagina {
	margin: auto;
	min-height: 620px;
	text-align: left;
	width: 900px;
}

div#conteudo {
	min-height: 570px;
}

div#topo {
	border: 1px;
	border-style: solid;
	border-color: #BED6F8;
	margin-bottom: 10px;
	width: 900px;
}

div#topo h1 {
	text-align: center;
}

div#topo p {
	text-align: right;
}

div#rodape {
	bottom: 0px;
	margin-top: 10px;
	width: 900px;
	text-align: center;
}

div.clear {
	clear: both;
}

a.toolbar {
	background: left no-repeat;	
	background-position: 4px;
	color: black;
	display: block;
	padding: 4px;
	padding-left: 24px;    
	text-decoration: none;
}
a.toolbar#voltar {
	background-image: url(#{resource['imagens:voltar.png']});	
}
a.toolbar#adicionar {
	background-image: url(#{resource['imagens:adicionar.png']});	
}
a.toolbar#visualizar {
	background-image: url(#{resource['imagens:visualizar.png']});	
}
a.toolbar#alterar {
	background-image: url(#{resource['imagens:alterar.png']});	
}
a.toolbar#remover {
	background-image: url(#{resource['imagens:remover.png']});	
}
a.toolbar#confirmar {
	background-image: url(#{resource['imagens:confirmar.png']});	
}
a.toolbar#cancelar {
	background-image: url(#{resource['imagens:cancelar.png']});	
}
a.toolbar:hover {
	background: left no-repeat white;
	background-position: 4px;
	border: 1px solid black;
	font-weight: bold;
}

label {
	font-weight: bold;
}
.erro {
    padding-left: 3px;
    color: red;
}